:root {
    --primary: #d7e3f2; 
    --primary-a: #f0f8fff0; 
    --primary-b: aliceblue;
    --back-button-light:#333330;
    --back-button-dark:#333339;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    min-height:120vh;
    background: var(--primary-b);
   

}
